// Add your own custom styles here

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaced-img {
  margin: 0 10px; /* Adiciona 10px de margem à esquerda e à direita */
}
/* Estilo do botão para o nome do autor */
.author-button {
  display: inline-block;
  padding: 5px 10px; /* Margem interna para ajustar tamanho */
  background-color: #f0f0f0; /* Cor de fundo suave */
  color: #333; /* Cor do texto */
  font-weight: bold; /* Deixe o texto em negrito */
  border: 1px solid #ddd; /* Borda sutil */
  border-radius: 5px; /* Arredondamento das bordas */
  text-decoration: none; /* Remove o sublinhado */
  transition: background-color 0.3s ease, color 0.3s ease; /* Efeito suave */
}

.author-button:hover {
  background-color: #242b32; /* Cor de fundo ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
  cursor: pointer; /* Cursor de mão */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.lg\:col-3, .lg\:col-6 {
  flex: 1;
  padding: 15px;
}

.mb-8 {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}
.btn-primary {
  margin-top: 20px; /* Ajuste o valor conforme necessário */
}
/* Exemplo de CSS para espaçar os ícones de redes sociais */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Ajuste o valor conforme necessário */
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ajuste o valor conforme necessário */
  height: 40px; /* Ajuste o valor conforme necessário */
  border-radius: 50%;
  background-color: #f0f0f0; /* Cor de fundo, ajuste conforme necessário */
  color: #000; /* Cor do ícone, ajuste conforme necessário */
}

@media (max-width: 600px) {
  .social-icons {
    flex-direction: row;
    gap: 15px; /* Ajuste o valor conforme necessário */
  }
}
